<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Login&register</title>
    <link rel="stylesheet" href="../static/styles/default.css">
    <link rel="stylesheet" href="../static/styles/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<body>
    <div class="logreg_container horizontal-center">
        <div class="logreg_reminder">
            <p>登录您的账户</p>
        </div>
        <form class="logreg_form horizontal-center" action="login" method="post">
            <input type="text" id="username" class="logreg_text" name="username" placeholder="请输入您的账号名">
            <input type="password" id="password" class="logreg_text" name="pwd" placeholder="请输入您的密码">
            <button class="login_button" type="submit"><i class="fas fa-arrow-right"></i></button>
            <label for="logreg_checkbox" onclick="checkCheckBox(this,'fa-square','fa-check-square')"><i class="far fa-square"></i>记住我</label>
            <input type="checkbox" id="logreg_checkbox" class="vertical-center"></input>
        </form>
        <div class="login_options horizontal-center">
            <div class="login_forgotIDPWD">
                <div class="vertical-center">
                    <p><a href="#">忘记了账户名或密码?</a></p>
                </div>
            </div>
            <div class="login_register">
                <div class="verticl-cente">
                    <p>还没有用户名? <a href="register.html" target="_blank">点我快速注册</a></p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../static/scripts/index.js">

    </script>
</body>

</html>
