@charset "UTF-8";

body {
    background-color: rgba(255, 0, 0, .3);
}

/* 导航栏 header */
nav {
    padding: 9px 0;
    background-color: rgba(255, 0, 0, 0.4);
}

.navbar_container {
    position: relative;
    margin: 0 auto;
    padding: 0;
    height: 52px;
}

.navbar_header {
    align-self: center;
}

.navbar_header_button {
    display: none;
    float: right;
    height: 40px;
    width: 40px;
    padding: 7px;
    background-color: transparent;
    border: 3px solid rgba(255,0,0,.3);
    border-radius: 6px;
}

.navbar_header_button span {
    display: block;
    margin: 0;
    content: "";
    width: 20px;
    height: 3px;
    background-color: rgba(255, 0, 0, .3);
}

.navbar_header_button .span-middle {
    margin: 4px 0;
}


.navbar_header_icon {
    float: left;
}

.navbar_header_icon img {
    align-self: center;
    height: 40px;
    width: 40px;
}

.navbar_header span {
    margin: auto 0;
    align-self: center;
    margin-left: 5px;
    color: white;
    font-size: 20px;
}

.navbar_nav {
    position: absolute;
    right: 0;
}

.navbar_nav_ul {

}

.navbar_nav_ul li {
    display: block;
    float: left;
}

.navbar_nav_ul li a {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0 15px;
    text-decoration: none;
    font-size: 17px;
    /* font-weight: bold; */
    color: white;
}

.navbar_nav_ul li a::after {
    background-color: red;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.navbar_nav li.active a {
    color: red;
}

.navbar_nav li.active a::after,
.navbar_nav li a:hover::after {
    width: 100%;
}
/*******************/

/* 搜索 search */

.search {
    padding: 100px 0;
}

.search_container {
    width: 1000px;
}

.search_icon {
    margin-bottom: 10px;
    text-align: center;
}

.search_icon img {
    width: 100px;
}

.search_title {
    text-align: center;
    color: white;
}

.search_title h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 70px;
    line-height: 100px;
}

.search_bar {
    padding: 50px 20px;
    background-color: rgba(255, 0, 0, .3);
    border-radius: 15px;
    display: flex;
    padding: 50px 120px;
}

.search_bar input,
.search_bar button {
    margin: 2px;
    padding: 10px;
    line-height: 30px;
    border: 0;
    border-radius: 7px;
}

.search_bar input {
    width: 75%;
    font-size: 20px;
    color: rgba(255, 0, 0, .8)
}

.search_bar button {
    width: 25%;
    background-color: rgba(255, 255, 255, .5);
    font-size: 23px;
    color: rgba(255, 0, 0, 1);
}

/*******************/

/* 响应式 responsive */
@media screen and (min-width: 1200px) {
    .navbar_container,
    .search_container {
        width: 1000px;
    }

    .search_bar {
        padding: 50px 120px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .navbar_container,
    .search_container {
        width: 800px;
    }

    .search_bar {
        padding: 50px 20px;
    }
}

@media screen and (min-width:800px) and (max-width: 1000px) {
    .navbar_container,
    .search_container {
        width: 700px;
    }

    .navbar_nav li a {
        margin: 0 7px;
    }

    .search_bar {
        flex-wrap: wrap;
        padding: 50px 70px;
    }

    .search_bar input {
        margin-bottom: 10px;
        width: 100%;
    }

    .search_bar button {
        width: 100%;
    }
}

@media screen and (min-width: 640px) and (max-width: 800px) {
    .navbar_container,
    .search_container {
        width: 600px;
    }

    .navbar_nav li a {
        margin: 0 5px;
    }

    .search_bar {
        flex-wrap: wrap;
        padding: 50px 20px;
    }

    .search_bar input {
        margin-bottom: 10px;
        width: 100%;
    }

    .search_bar button {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .navbar_container,
    .search_container {
        width: 93.75%;
    }

    nav {
        width: 100%;
    }

    .navbar_header {
        width: 100%;
    }

    .navbar_button {
        display: block;
    }

    .navbar_nav {
        background-color: rgba(254, 100, 104, 1);
        width: 100%;
        max-height: 0;
        top: 50px;
        border-radius: 10px;
        overflow-y: hidden;
        transition: max-height .8s ease;
    }

    .navbar_nav::after {
        height: 10px;
        width: 100%;
    }

    .navbar_nav.open {
        max-height: 260px;
    }

    .navbar_nav ul {
        padding-left: 40px;
    }

    .navbar_nav li {
        float: none;
        padding: 8px 0;
    }

    .navbar_nav li a {
        margin: 0 3px;
    }

    .search_bar {
        flex-wrap: wrap;
        padding: 50px 20px;
    }

    .search_bar input {
        margin-bottom: 10px;
        width: 100%;
    }

    .search_bar button {
        width: 100%;
    }
}
/*******************/

/*******************/

/* 登录和注册 logreg */

.logreg_container {
    padding-top: 150px;
    width: 400px;
    color:rgba(255, 0, 0, 0.8);
}

.logreg_reminder {

}

.logreg_reminder p {
    margin: 20px 0;
    font-size: 30px;
    text-align: center;
}

/* form */
.logreg_form {
    display: flex;
    position: relative;
    margin-bottom: 10px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    vertical-align: middle;
}

.logreg_form label {
    user-select: none;
    font-size: 20px;
}

.logreg_form label i {
    margin-right: 5px;
    font-weight: 400;
}

/*******************/

.logreg_text,
.logreg_button {
    margin: 5px 0;
    line-height: 45px;
    font-size: 18px;
    border-radius: 10px;
    border: 3px solid rgba(255, 0, 0, .5);
}

.logreg_text {
    padding: 0 0 0 20px;
    width: 100%;
    border-radius: 10px;
}

#logreg_checkbox {
    visibility: hidden;
    text-align: right;
    line-height: 20px;
    font-size: 20px;
}

/*******************/

/* login 登录 */

.login_button {
    display: inline-flex;
    position: absolute;
    padding:0;
    top: 77px;
    right: 0;
    margin:auto;
    margin-right: 11px;
    align-self: center;
    width: 30px;
    height: 30px;
    color: rgba(255, 0, 0, .5);
    background-color: inherit;
    border: 2px solid rgba(255,0,0,.5);
    border-radius: 8px;
}

.login_button i {
    margin:auto;
    font-size: 20px;
}

.login_options {
    text-align: right;
}


.login_options > div {
    display: flex;
    vertical-align: middle;
    flex-direction: column-reverse;
    height: 20px;
    border: 3px solid rgba(255,0,0,0);
    /* transition: all 0.3s; */
}

.login_options p,
.login_options a {
    margin: 0;
    line-height: 20px;
    color: rgba(255, 0, 0, 0.5);
    text-decoration: none;
}

/* .login_rememberme > div {
    display:inline-flex;
    vertical-align: middle;
} */

.login_forgotIDPWD div {
    font-size: 10px;
}

.login_register > div {
    display: inline-flex;
    vertical-align: middle;
    text-align: right;
}

.login_register > div a,
.login_register > div p {
    flex:1;
}

/*******************/

/* 注册 register */

.register_container {
    position: relative;
    width: 100%;
}

.register_sms,
.register_sms_button {
}

.register_sms {
    width: 55%;
}

.register_sms_button {
    float: right;
    width: 35%;
    color: rgba(255, 0, 0, 1);
    background-color:rgba(255, 255, 255, .5);
}
