<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles/default.css">
        <link rel="stylesheet" href="/styles/main.css">
        <title>Register</title>
    </head>
    <body>
        <div class="logreg_container horizontal-center">
            <div class="logreg_reminder">
                <p>注册您的账户</p>
            </div>
            <form class="logreg_form" action="register" method="post">
                <input id="username" type="text" class="logreg_text" name="username" placeholder="用户名" />
                <input id="password" type="password" class="logreg_text" name="password" placeholder="密码" />
                <input id="email" type="password" class="logreg_text" name="" value="" placeholder="name@example.com">
                <input type="password" class="logreg_text" name="" value="" placeholder="电话号码">
                <div class="register_container">
                    <input type="password" class="logreg_text register_sms" name="" value="" placeholder="短信验证码">
                    <button type="submit" class="logreg_button register_sms_button">获取短信验证码</button>
                </div>
            </form>
        </div>
    </body>
</html>
